<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mymall.dao.OrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.mymall.pojo.OrderItem" >
    <constructor >
      <idArg column="itemid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_no" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="prod_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="prod_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="prod_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="current_unit_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    itemid, user_id, order_no, prod_id, prod_name, prod_image, current_unit_price, quantity, 
    total_price, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mymall_orderitem
    where itemid = #{itemid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mymall_orderitem
    where itemid = #{itemid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mymall.pojo.OrderItem" >
    insert into mymall_orderitem (itemid, user_id, order_no, 
      prod_id, prod_name, prod_image, 
      current_unit_price, quantity, total_price, 
      create_time, update_time)
    values (#{itemid,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderNo,jdbcType=BIGINT}, 
      #{prodId,jdbcType=INTEGER}, #{prodName,jdbcType=VARCHAR}, #{prodImage,jdbcType=VARCHAR}, 
      #{currentUnitPrice,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.mymall.pojo.OrderItem" >
    insert into mymall_orderitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemid != null" >
        itemid,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="prodName != null" >
        prod_name,
      </if>
      <if test="prodImage != null" >
        prod_image,
      </if>
      <if test="currentUnitPrice != null" >
        current_unit_price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemid != null" >
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="prodName != null" >
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodImage != null" >
        #{prodImage,jdbcType=VARCHAR},
      </if>
      <if test="currentUnitPrice != null" >
        #{currentUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mymall.pojo.OrderItem" >
    update mymall_orderitem
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=INTEGER},
      </if>
      <if test="prodName != null" >
        prod_name = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodImage != null" >
        prod_image = #{prodImage,jdbcType=VARCHAR},
      </if>
      <if test="currentUnitPrice != null" >
        current_unit_price = #{currentUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where itemid = #{itemid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mymall.pojo.OrderItem" >
    update mymall_orderitem
    set user_id = #{userId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=BIGINT},
      prod_id = #{prodId,jdbcType=INTEGER},
      prod_name = #{prodName,jdbcType=VARCHAR},
      prod_image = #{prodImage,jdbcType=VARCHAR},
      current_unit_price = #{currentUnitPrice,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where itemid = #{itemid,jdbcType=INTEGER}
  </update>
</mapper>